{% if false %}
https://gitlab.com/Wrath52/ci/-/blob/main/ansible/README.md
{% endif %}

server {
    server_name {{ NGINX_SERVER_NAME }};

{% if ENABLE_INDEXING | default(false, true) %}
    location = /robots.txt {
        add_header Content-Type text/plain;
        return 200 "User-agent: *\nDisallow: /";
    }
{% endif %}

{% if NGINX_PROXY_API | default(false, true) %}
    location /api {
        proxy_pass {{ NGINX_PROXY_API }};
    }
{% endif %}

{% if NGINX_ADDITIONAL | default(false, true) %}
    {{ NGINX_ADDITIONAL }}
{% endif %}

    location / {
        proxy_pass http://localhost:{{ NGINX_CONTAINER_PORT }};
    }

{% if ENABLE_SSL | default(false, true) %}
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ NGINX_SERVER_NAME }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ NGINX_SERVER_NAME }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
{% endif %}
}

{% if ENABLE_SSL | default(false, true) %}
server {
    if ($host = {{ NGINX_SERVER_NAME }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    server_name {{ NGINX_SERVER_NAME }};
    listen 80;
    return 404; # managed by Certbot
}
{% endif %}
